<h3>Pääkäyttäjän ilmoitukset</h3> 
<p>Pääkäyttäjän ilmoitukset -sivulle listataan kaikki käyttäjät, joilla on
pääkäyttäjän oikeudet palveluun ja heille valitaan Pääkäyttäjän ilmoitusten
ilmoitustapa. Vähintään yhden pääkäyttäjän tulee saada jokainen
ilmoitustyyppi.</p> 

