<h3>Lukitut käyttäjät</h3> 
<p>Valitse käyttäjä laittamalla täppä henkilön tietojen oikealla puolella
olevaan valintaruutuun. Klikkaa sopivaa painiketta lukituksen poistamiseksi tai
poistaaksesi valitut käyttäjät.</p> 

