<h3>Instituutio-ominaisuus</h3> 
<p>Identity Providerin (IdP) välittämä ominaisuus, joka näyttää mihin
instituutioon käyttäjä kuuluu. Tavallisesti nämä korreloivat
suoraan LDAP ominaisuuksien kanssa (IdP:n kirjautumispalvelut) esim.
eduPersonOrgDN</p>  

