<h3>Simple SAML PHP:n asetuksien polku</h3> 
<p>Simpel SAML PHP:n konfigurointiin käytettävä polku. Esim. jos kokonainen
polku config.php -tiedostoon on
/some_path_to/simplesamlphp_1_3/config/config.php, tämän arvon pitäisi
olla /some_path_to/simplesamlphp_1_3/config/</p> 

