<h3>Simple SAML PHP kirjastopolku</h3> 
<p>Täydellinen polku Simple SAML PHP -kirjastoon. Esim. jos
kokonainen polku autoload.php käynnistysskriptiin on
/some_path_to/simplesamlphp_1_3/lib/_autoload.php, tämän arvon pitäisi
olla /some_path_to/simplesamlphp_1_3/</p> 

