<h3>Postilaatikko</h3> 
<p>Tämä on luettelo järjestelmän toiminnoista tai tapahtumista, jotka koskevat
sinua. Tiedotteiden tilausasetukset -kohdassa voit päättää kuinka saat näistä
tiedotteet. Kun olet lukenut viestin, voit merkitä sen poistettavaksi
luettelosta. </p> <p><strong>Huom:</strong> Luetut tiedotteet vanhenevat
automaattisesti ja poistetaan listaltasi 60 päivän jälkeen.</p> 

