<h3>Tiedotteiden tilausasetukset</h3> 
<p>Voit valita kuinka saat viestit kustakin toimintotyypistä.</p> 

<h4>Tiedotetyypit</h4> 
<p><strong>Sisäinen:</strong> Viestit listataan palvelun sisällä Tiedotteet-sivulla.</p> 
<p><strong>Sähköposti:</strong> Käytössä olevaan sähköpostiosoitteeseesi lähetetään viesti kaikista tapahtumista.</p> 
<p><strong>Sähköpostikooste:</strong> Käytössä olevaan sähköpostiosoitteeseesi lähetetään kerran päivässä viesti, jossa on koottuna vuorokauden tapahtumat.</p> 
<p><strong>Huom:</strong> Jos valitset jommankumman sähköpostitiloista, saat ilmoitukset myös Tiedotteet-osioon. Ne merkitään automaattisesti luetuiksi.
Nämä tiedotteet vanhenevat automaattisesti ja siirretään pois listauksesta 60 päivän jälkeen.</p>  

<h4>Toimintotyypit</h4> 
<p><strong>Järjestelmän viesti:</strong> Järjestelmän automaattisesti tuottama tai ylläpidon lähettämä tiedote.</p> 
<p><strong>Viestit muilta käyttäjiltä:</strong> Toisten käyttäjien lähettämät viestit.</p> 
<p><strong>Palaute:</strong> Tiedote palautteesta tai kommentista, joka koskee sivua, tuotosta tai blogia ePortfoliossasi.</p> 
<p><strong>Seurantalista:</strong> Tiedote muutoksista tuotoksissa, sivuissa, ryhmissä tai blogeissa joita seuraat.</p>
<p><strong>Uusi käyttöoikeus näkymään:</strong> Tiedote, kun sinulle tai ryhmällesi on annettu katseluoikeus uuteen tai olemassa olevaan ei-julkiseen näkymään.</p> 

