<h3>HTML-editori</h3>
<p>HTML-editori on käytössä joissakin palvelun osioissa. Tämä tunnetaan "Mitä
näet sitä saat", WYSIWYG-editorina. Se mahdollistaa sinulle tekstin
muokkauksen, esim. lihavoinnin tai kursivoinnin. Mikäli editori on poissa
päältä, voit syöttää ainoastaan muotoilematonta tekstiä.</p> <p><strong>Huom:</strong>
HTML-editorit voivat näyttää ja toimia hieman eri tavoin eri selaimilla.</p> 

