<h3>Näytä sarakkeiden muokkaustoiminto sivulla</h3>
<p>Valitse, näytetäänkö sarakkeiden lisäys- ja poistopainikkeet <img src="/theme/raw/static/images/btn_addcolumn_left.png" alt="add"> <img src="/theme/raw/static/images/btn_removecolumn.png" alt="remove"> sivun muokkauksessa.</p>
<p>Vaikka tämä toiminto ei olisi käytössä, voit silti muokata sarakkeita.</p>
