<h3>Salasanat</h3>
<p>Vaihtaaksesi kirjautumissalasanan, kirjoita ensin nykyinen salasanasi tähän
ja sen jälkeen uusi salasana kahteen seuraavaan kenttään.</p>
<p>Salasanan tulee olla vähintään kuuden merkin mittainen. Siinä täytyy olla
vähintään yksi numero ja vähintään kaksi kirjainta. Salasanat ovat
tapauskohtaisia ja niiden tulee erota käyttäjätunnuksestasi.</p> 
