<h3>Kaverien hallinta</h3>
<p>Valitse, voivatko muut käyttäjät lisätä sinut kaverilistalleen. Jos sinut on
lisätty kaverilistalle, kaverilistan omistaja lisätään omalle listallesi. Kun
poistat jonkun omalta kaverilistaltasi, sinut poistetaan hänen listaltaan.
Valitse joko:</p> <p><strong>Minua ei voi valita kaveriksi:</strong> kukaan ei
voi lisätä sinua heidän listalleen.</p>
<p><strong>Kaveriksi tuleminen vaatii hyväksyntäni:</strong> tarvitaan
hyväksyntäsi ennen kuin lisäys listalle tehdään. Jos hyväksyt, heidät lisätään
listallesi.</p>
<p><strong>Kaveripyynnöt hyväksytään automaattisesti:</strong> kuka tahansa voi
lisätä sinut heidän listalleen.</p> 
