<h3>Julkinen ryhmä</h3> 
<p>Jos valitset kyllä, useimmat osat ryhmästäsi on nähtävissä kenelle tahansa
käyttäjälle, joka vierailee ryhmässäsi - mukaan lukien myös henkilöt, joilla ei
ole käyttäjätiliä tähän palveluun.</p> 
<p>Kaikki näkevät ryhmän jäsenlistauksen ja kaikki foorumin keskustelut.
Henkilöiden tulee kuitenkin liittyä ryhmän jäseneksi ennen kuin he voivat
kirjata merkintöjä foorumeihin.</p> 
<p>Tästä asetuksesta huolimatta ryhmän Tiedostot-osio ja kaikki sen sisältämät
tiedostot pysyvät yksityisinä.</p> 

