<h3>Palveluntarjoaja</h3> 
<p>Palveluntarjoajalla on mahdollisuus tehdä useammat toimenpiteet koskien
käyttäjä- ja palveluhallintaa mukaan lukien kirjautumisen toisena käyttäjänä ja
instituutiohallinnan.</p> 

