<h3>Tunnistusplugin</h3> 
<p>Tästä voit valita kuinka tämän instituution käyttäjät tunnistetaan
palvelussa. Instituutiolla tulee olla vähintään yksi tunnistusmenetelmä
sidottuna siihen. </p> 
<p> <strong>Sisäinen</strong> tunnistusplugin tarkistaa palvelun tietokannasta
käyttäjätunnukset/salasanat. Tätä varten käyttäjillä tulee olla palveluun
käyttäjätili, joka voidaan tehdä joko rekisteröintilomakkeen kautta tai
käyttämällä <a href="add.php" target="_blank">Lisää käyttäjä</a> tai <a
    href="uploadcsv.php" target="_blank">Lisää käyttäjä CVS-tiedoston
    avulla</a> toimintoja.</p> 
<p><strong>Ei mitään</strong> tunnistusmenetelmä salli kenet tahansa sisään
palveluun. Käyttäjät voivat valita minkä tahansa käyttäjätunnuksen ja
salasanan. Tätä tulisi käyttää ainoastaan testaamiseen!</p> 
<p>Yleisesti ottaen muut tunnistusmenetelmät tunnistavat ulkoisesta lähteestä
käsin kuten LDAP-serveriä tai etäsovellusta käyttäen. Niillä on omat asetukset,
jotka voit asettaa ponnahdusikkunassa kun lisäät tiedot.</p> 
<p>Normaalisti niillä on asetus, jossa tilit voidaan luoda automaattisesti
ePortfolioon kun käyttäjä kirjautuu sisään ensimmäisen kerran (toisena
vaihtoehtona on, että tilit luodaan aikaisemmin pääkäyttäjän toimesta, minkä
jälkeen käyttäjät voivat kirjautua sisään.</p> 

