<h3> Instituution erääntymispäivä </h3> 
<p>Instituution erääntymispäivä on päivä, jolloin instituutio lukitaan ja sen
käyttäjät eivät pysty enää kirjautumaan sisään ennen kuin instituution lukitus
on purettu.</p> 

