<h3>Rekisteröityminen sallittu?</h3> 
<p>Jos asetus on päällä, käyttäjät voivat rekisteröityä palveluun käyttämällä
rekisteröintilomaketta.</p> 
<p>Jos useampi kuin yksi instituutio on asettanut tämän päälle, käyttäjä voi
valita alasvetovalikosta mihin instituutioon hän haluaa rekisteröityä.</p>
<p>Jos millään instituutiolla ei ole tätä asetusta päällä, käyttäjillä ei ole
mahdollisuutta rekisteröityä käyttämällä rekisteröintilomaketta.</p> 
<p>Yleensä mikäli sinulla on käyttäjiä, jotka tuodaan tähän instituutioon
esimerkiksi LDAP-sisäänkirjautumisen tai SSO-ulkoisen menetelmän kautta, sinun
tulee ottaa tämä asetus pois päältä. Sinun tulee ottaa asetus pois päältä myös
silloin, jos haluat kontrolloida tilien luomista käyttämällä 
<a href="add.php" target="_blank">Lisää käyttäjä</a> tai <a href="uploadcsv.php" target="_blank">Lisää käyttäjä CVS-tiedoston avulla</a> -sivuja.</p> 

