<h3>Salasana</h3> 
<p>Salasanan tulee olla vähintään kuuden merkin mittainen. Siinä täytyy olla
vähintään yksi numero ja vähintään kaksi kirjainta. Kirjainkoolla on merkitys.
Salasanan tulee erota käyttäjätunnuksestasi.</p> 
<p><strong>Varoitus:</strong> Turvallisuussyistä älä paljasta salasanaasi
kenellekään käyttäjälle, mukaan lukien palvelun pääkäyttäjä.</p>  

