<h3>Kieli</h3> 
<p>Valittu kieli on palvelun oletuskieli valikoissa ja toimintokohtaisissa
ohjeissa koko ePortfolio-palvelussa. Kun lisäkielet on asennettu
ePortfolio-palveluun, käyttäjät voivat vaihtaa haluamansa kielen Omista
asetuksista.</p> 

