<h3>Automaattinen lukitus instituutioille, joilla voimassaolo on päättynyt</h3> 
<p>Kerran päivässä tarkistetaan onko instituutioiden voimassaolo päättynyt.
Mikäli asetettu, tämä asetus lukitsee automaattisesti instituutiot, joilla
voimassaolo on päättynyt. Tämä tarkoittaa sitä, että instituution käyttäjät
eivät pysty kirjautumaan sisään ennen kuin instituution lukitus on purettu.</p>  

