<h3>Julkisesti näytettävät ryhmät</h3> 
<p>Jos haluat antaa kaikille käyttäjille mahdollisuuden luoda kaikkien ryhmiä,
joita voi katsella henkilöt jotka eivät ole palvelun jäseniä, määritä asetus
"Kaikki".</p> 
<p>Julkisessa ryhmässä kuka tahansa, joka löytää sivun (kuten hakukoneet), voi
nähdä ryhmän &quot;Ryhmän tiedot&quot; sivun, jäsenlistauksen ja kaikki
foorumien keskustelut. Kuitenkin ihmisten on tultava palvelun jäseniksi ennen
kuin he voivat tehdä muita asioita kuten lähettää foorumeille viestejä tai
katsella toisten käyttäjien profiileja.</p> 

