<h3>Tilin oletusvoimassaoloaika</h3> 
<p>Mikäli asetettu, käyttäjätilien voimassaolo päättyy tämän ajan jälkeen
siitä, kun tili on luotu. Kun käyttäjätilin voimassaoloaika on päättynyt,
käyttäjä ei voi kirjautua sisään. Aika voidaan määritellä päivissä, viikoissa,
vuosissa. Vaihtoehtona voi olla myös Ei lopetuspäivää, jolloin käyttäjätilien
voimassaolo ei pääty koskaan.</p> 

