<h3>Teema</h3> 
<p>Kun useita teemoja on asennettu, voit valita alasvetovalikosta minkä teeman
valitset Mahara-palveluun käytettäväksi. Tämä teema näytetään oletuksena
kirjautuneille käyttäjille.</p> 
<p>Instituutioilla voi olla myös oletusteemoja asennettuna ja ne näkyvät
kyseisen instituution kirjautuneille käyttäjille. Voit asettaa instituutiolle
teemoja <a href="../users/institutions.php">Instituution hallinta</a> osiossa. 
 

