<h3>Varoitusaika passiivisuus/voimassaolon päättyminen</h3> 
<p>Mikäli asetettu, käyttäjä saa varoitusviestin tässä asetetussa ajassa ennen
kuin hänen tilinsä voimassaolo päättyy tai tulee passiiviseksi. Aika voidaan
määritellä päivissä, viikoissa, vuosissa. Vaihtoehtona voi olla myös Ei
lopetuspäivää, jolloin käyttäjä ei saa varoitusviestiä ennen kuin hänen tilinsä
voimassaolo päättyy tai se on merkitty passiiviseksi tiliksi.</p> 

