<h3>Päivitä</h3> 
<p>Valitse keskustelut laittamalla ruksi kunkin aiheen vasemmalla puolella
olevaan valintaruutuun ja valitse sen jälkeen kuinka haluat keskustelut
päivittää.</p>
<p><strong>Tilaa</strong>: saat valituista keskusteluista viestin
Tiedotteisiin.</p> 
<p><strong>Peruuta tilaus</strong>: et saa enää viestejä valituista
keskusteluista Tiedotteisiin.</p> 
<p><strong>Pysyvä</strong>: valitut keskustelut näkyvät sivun yläosassa.</p> 
<p><strong>Ei-pysyvät</strong>: valitut keskustelut eivät enää näy sivun
yläosassa.</p> 
<p><strong>Avoin</strong>: kaikki ryhmän jäsenet voivat lähettää viestejä
valittuihin keskusteluihin.</p> 
<p><strong>Suljettu</strong>: vain ryhmän pääkäyttäjät ja foorumin
moderaattorit voivat lähettää viestejä valittuihin keskusteluihin.</p> 

