<h3>Kirjat ja julkaisut</h3>
<p>Lista kaikista julkaisuista, jotka olet kirjoittanut tai joihin olet ollut
myötävaikuttamassa missä tahansa roolissa kuten toimittajana tai
suunnittelijana. Merkinnät tulevat näkyviin käännetyssä kronologisessa
järjestyksessä.  Klikkaa Tallenna-painiketta lisätäksesi merkinnän. Käytä
Peruuta-painiketta mikäli haluat sulkea osion tallentamatta merkintääsi.</p>
<p><strong>Huom:</strong> On tärkeää tallentaa kukin uusi merkintä käyttämällä
Tallenna-painiketta sivun alalaidassa.</p>
<p>Uudet tallennetut merkinnät tulevat näkyviin ansioluetteloosi
taulukkomuodossa. Muuttaaksesi merkintääsi klikkaa
<span style="text-decoration:underline">Muokkaa</span> -linkkiä. Klikkaamalla
Tallenna-painiketta tallennat muutoksesi ja palaat samalla ansioluettelon
pääsivulle. Klikkaa <span style="text-decoration:underline">Poista</span>
-linkkiä poistaaksesi merkinnät. </p>
<p>Jos olet kirjoittanut kuvauksen Tarkempi kuvaus julkaisusta -osioon, klikkaa
merkinnän otsikkoa näyttääksesi tai piilottaaksesi tämän kuvauksen. </p>

