<h3>Sertifikaatit, suositukset ja palkinnot</h3>
<p>Listaus kaikista sertifikaateista, suosituksista tai palkinnoista joita olet
saanut, esimerkiksi: KHT-tilintarkastaja, lääkäri tai ensiapukoulutus. </p>
<p>Klikkaa Tallenna-painiketta lisätäksesi merkinnän. Käytä Peruuta-painiketta
mikäli haluat sulkea osion tallentamatta merkintääsi. Voit järjestää merkinnät haluamallasi tavalla.</p>
<p><strong>Huom:</strong> On tärkeää tallentaa kukin uusi merkintä käyttämällä
Tallenna-painiketta sivun alalaidassa.</p>
<p>Uudet tallennetut merkinnät tulevat näkyviin ansioluetteloosi
taulukkomuodossa. Muuttaaksesi merkintääsi klikkaa
<span style="text-decoration:underline">Muokkaa</span>-linkkiä. Klikkaamalla
Tallenna-painiketta tallennat muutoksesi ja palaat samalla ansioluettelon
pääsivulle. Klikkaa
<span style="text-decoration:underline">Poista</span>-linkkiä poistaaksesi
merkinnät.</p>
<p>Jos olet kirjoittanut kuvauksen Kuvaus-kenttään, klikkaa merkinnän otsikkoa
näyttääksesi tai piilottaaksesi tämän kuvauksen.</p>

