<h3>Ammatilliset jäsenyydet</h3>
<p>Tälle alueelle voit luoda luettelon ammatillisista jäsenyyksistä esimerkiksi
ammattiliitoissa tai muissa järjestöissä. Klikkaa Tallenna-painiketta
lisätäksesi merkinnän jäsenyyshistoriaan. Käytä Peruuta-painiketta mikäli
haluat sulkea osion tallentamatta merkintääsi. Voit järjestää merkinnät haluamallasi tavalla.</p>
<p>Huom: On tärkeää tallentaa kukin uusi merkintä käyttämällä
Tallenna-painiketta sivun alalaidassa.</p>
<p>Uudet tallennetut merkinnät tulevat näkyviin ansioluetteloosi
taulukkomuodossa. Muuttaaksesi merkintääsi klikkaa <span
    style="text-decoration:underline">Muokkaa</span>-linkkiä. Klikkaamalla
Tallenna-painiketta tallennat muutoksesi ja palaat samalla ansioluettelon
pääsivulle. Klikkaamalla
<span style="text-decoration:underline">Poista</span>-linkkiä poistaaksesi
merkinnät.</p>
<p>Jos olet kirjoittanut kuvauksen Kuvaus-kenttään, klikkaa merkinnän otsikkoa
näyttääksesi tai piilottaaksesi tämän kuvauksen.</p>

