<h3>Tilaa/Peruuta foorumi</h3> 
<p>Jos tilaat foorumin, saat ilmoituksen uusista tämän foorumin viesteistä postilaatikkoosi.</p> 
<p>Jos peruutat foorumin, et saa enää ilmoituksia uusista foorumin viesteistä.</p>
