<h3>Sisältöä voi tuoda tälle palvelimelle</h3> 
<p>Kaikki verkkopohjaiset sovellukset eivät tue tätä, mutta jos tukevat, tämä
mahdollistaa etäpalvelimen käyttäjille sisällön tuomisen tänne.</p> 
<p>Se riippuu onko 'Etäpalvelimelta kirjaudutaan sisään' päällä. Lisäksi on
myös järkevää, että 'Tämä palvelin luo automaattisesti käyttäjätilejä' on
päällä.</p> 

