<h3>Kiinnostuksen kohteet</h3>
<p>Kiinnostuksen kohteisiin voit listata henkilökohtaisia ja/tai ammatillisia
kiinnostuksen kohteita. Tämä voi sisältää harrastukset, urheiluaktiviteetit,
vapaaehtoistyön, tutkimus- ja erikoisasiantuntijuusalueet jne. Listaamalla
kiinnostuksen kohteet autat työnantajia saamaan paremman kuvan siitä kuka olet
ja mitä toisit heidän organisaatioonsa.</p>

