<h3>Taitoni</h3>

<p>Alue on jaettu kolmeen osaan: Henkilökohtaiset, koulutuksen kautta saadut ja työtaidot. Tallennetut taidot voi näyttää portfoliosivuilla.</p>
<p>Työnantajat ovat aina kiinnostuneita hakijan taidoista. Voit myös tässä kertoa, mitä voit tarjota erilaisille yhteisöille.</p>
