<h3>Kaupalliseen käyttöön</h3>  
<p>Sallit teoksen kopioinnin, levittämisen, näyttämisen ja esittämisen, myös
kaupallisiin tarkoituksiin.</p>  
<h3>Ei-kaupalliseen käyttöön</h3>  
<p>Sallit teoksen kopioinnin, levittämisen, näyttämisen ja esittämisen muihin
kuin kaupallisiin tarkoituksiin.</p> 
