<h3>Salli teoksen muokkaaminen</h3>  

<p>Sallit teoksesi kopioinnin, levittämisen, näyttämisen ja esittämisen sekä muokattujen versioiden tekemisen pohjautuen teokseesi.</p>  

<h3>Kyllä, kunhan muutkin jakavat.</h3>  

<p>Sallit muokattujen versioiden levittämisen vain saman lisenssin alla tai se on yksi yhteen, jolloin lisenssi säätelee työtä.</p>  

<h3>En salli teoksen muokkaamista</h3>  

<p>Sallit teoksen kopioimisen, levittämisen ja välittämisen täsmälleen sellaisenaan, et siitä muokattuja versioita.</p> 
