<h3>Edit Page</h3>

<p>Designing your page layout enables you to personalise the way in which your
resources and information can be displayed. For example if you wish to display
only one of your Journal entries, click on the Journals tab, then drag the
Journal Entry block into your page area. Remember to click Save as you add new
elements to your page.</p>

<p>As you build up the content of your layout you can check on how it will look
by clicking on 'Display my page'. Click on 'Back to create my page' to continue
editing.</p>

