<h3>Muokkaa katseluoikeuksia</h3>

<p>Tässä voit hallita katseluoikeuksia sivuusi.
Oletuksena on, että vain sinä näet sivusi.
Voit tehdä sivstasi julkisen koko Internetiin, antaa katseluoikeuden
kirjautuneille käyttäjille tai kavereille.
Voit antaa myös oikeudet yksittäisille ryhmille tai käyttäjille käyttämällä
Etsi-työkalua.</p> 

<p>Voit määrittää voimassaolopäivät, jolloin sivusi tulee näkyviin
tietyksi ajanjaksoksi kuten kurssivuodeksi, projektin ajaksi tai jopa yhdeksi
päiväksi. Kaikki päivät ovat valinnaisia.
Katseluoikeus voidaan antaa usean säännön kautta.</p> 

<p><strong>Esimerkki:</strong> Niko on ryhmässä "Kivojen Kavereiden Klubi". Jos
annat hänelle oikeudet päästä näkymääsi tänään ja lisäksi annat Kivojen
Kavereiden Klubille oikeudet päästä näkymään huomenna, pääsee Niko näkymään
molempina päivinä.</p> 
