<h3>Pääkäyttäjän tiedosto</h3> 
<p>Voit käyttää resurssina tiedostoa, joka on tallennettu Pääkäyttäjän
tiedostot -osioon. Nimi-kenttään kirjoitetaan tiedoston näyttönimi ja haluttu
tiedosto valitaan Linkitetty kohteeseen -alasvetovalikon listasta.</p> 

