<h3>BBCode</h3> 
<p>BBCode on tapa lisätä muotoiluja kuten <strong>lihavointia</strong> tai
<em>kursivointia</em> viesteihisi.</p> 
<p>Esimerkiksi muokataksesi sanan lihavoiduksi, kirjoitat sen näin: [b]hei[/b]. 
Viestissäsi sana näytetään <strong>hei</strong>. BBCode merkit - [b] ja [/b] -
katoavat.</p> 
<p>Seuraavat BBCodet ovat käytettävissä:</p> <ul> 
    <li><strong>[b]</strong> ja <strong>[/b]</strong> sanat
    <strong>lihavoidaan</strong> - esim. [b]ponit[/b].</li>
    <li><strong>[i]</strong> ja <strong>[/i]</strong> sanat
    <em>kursivoidaan</em> - esim. [i]ihmeellistä![/i].</li> 
    <li><strong>[img]</strong> ja <strong>[/img]</strong> lisätäksesi kuvan -
    esim. [img]http://mahara.org/favicon.ico[/img]</li>
    <li><strong>[url]</strong> ja <strong>[/url]</strong> lisätäksesi linkin -
    esim. [url]http://google.fi[/url] tai
    [url=http://google.fi]Google[/url]</li> </ul> 
<p>Huomaa, että viestissäsi olevista linkeistä tehdään automaattisesti
klikattavia.</p> 

